<% include header.ejs %>
<!--下载页------------------>
<% include index_header.ejs %>
<div class="main">
    <div class="index-download">
        <div class="dow-content">
            <h1 class="download-title">
                DOWNLOAD <span class="ARTPIP">ARTPIP</span> FOR FREE
            </h1>
            <div class="download-btn">
                <img src="./images/mac.png" alt="mac" style="width: 20px" height="20px">
                Mac
            </div>
            <div class="download-btn">
                <img src="./images/windows.png" alt="mac" style="width: 20px" height="20px">
                Windows
            </div>
        </div>
    </div>
</div>
<% include index_footer.ejs %>
<% include footer.ejs %>
