<!DOCTYPE html>
<html>
<head>
    <title>Artpip | Beautiful art for your desktop</title>
    <script src="/javascripts/jquery-3.2.1.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/style2.css' />
    <script src="/javascripts/index.js"></script>
    <link rel="stylesheet" href="/stylesheets/luara.css"/>
    <script src="/javascripts/jquery-1.8.3.min.js"></script>
    <!--Luara js文件-->
    <script src="/javascripts/jquery.luara.0.0.1.min.js"></script>
</head>
<body>