<!DOCTYPE html>
<html>
<head>
    <title>Artpip | Beautiful art for your desktop</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="/javascripts/jquery-3.2.1.js"></script>
    <link rel='stylesheet' href='/stylesheets/style2.css' />
    <script src="/javascripts/index.js"></script>
    <link rel="stylesheet" href="/stylesheets/luara.css"/>
    <script src="/javascripts/jquery-1.8.3.min.js"></script>
    <!--Luara js文件-->
    <script src="/javascripts/jquery.luara.0.0.1.min.js"></script>
    <style>
        .index {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #2c3e50;
        }
        .index h1 {
            text-align: center;
            color: #333;
            border-bottom: 1px #eee solid;
            padding-bottom: 10px;
        }
        .index .container{
            margin-top: 17%;
        }
        .index .container {
            width: 400px;
            background: #fff;
            border-radius: 6px;
            padding: 10px;
            box-shadow: 0 0 8px #ccc;
        }
        .index .container .input-group {
            margin: 20px auto;
        }
        .index .container .login {
            float: right;
        }
        .index .container .reg {
            float: left;
        }
    </style>
</head>
<body>