<% include header.ejs %>
<!--网页头部------------------>
<div class="head" style="background: #fd5c63;padding: 0;">
    <div class="head_content">
        <img src="/images/logo.ico" alt="logo" width="32px" height="32px" class="logo2">
        <div class="logo">
            <span>ARTPIP</span>
        </div>
        <div class="search">
            <input type="text" class="search_frame" placeholder="Search art & artists">
        </div>
    </div>
</div>
<% include footer.ejs %>