<% include header.ejs %>
<div class="container" id="container">
    <!--头部---------------------->
      <div class="head">
        <div class="head_content">
          <img src="/images/logo.ico" alt="logo" width="32px" height="32px" class="logo2">
          <div class="logo">
            <span>ARTPIP</span>
          </div>
          <div class="search">
            <input type="text" class="search_frame" placeholder="Search art & artists">
          </div>
          <div class="lianjie">
            <a class="register" href="/reg2">Register</a>
            <a class="login" href="/register">Login</a>
          </div>
        </div>
      </div>
      <div class="Giant_screen">
        <!--主标题---------------->
        <div class="main_title">
          <h1><span>ARTPIP</span> a new masterpiece every day</h1>
          <div>Transform your desktop into an art gallery of the world's greatest fine art and photography.</div>
        </div>
        <!--大按钮---------------->
        <div class="download">
          <a href="/download" class="btn">Download For Free</a>
          <div class="icon">
            <div class="icon_content">
              <img src="/images/mac.png" alt="mac" width="20px" height="20px">
              <img src="/images/windows.png" alt="windows" width="20px" height="20px">
            </div>
          </div>
        </div>
        <!--轮播图---------------->
        <div class="Carousel_figure">
          <div class="example">
            <ul>
              <li><img src="/images/1.png" alt="1"/></li>
              <li><img src="/images/2.png" alt="2"/></li>
              <li><img src="/images/3.png" alt="3"/></li>
              <li><img src="/images/4.png" alt="4"/></li>
              <li><img src="/images/5.png" alt="5"/></li>
              <li><img src="/images/6.png" alt="6"/></li>
            </ul>
          </div>
        </div>
        <!--内容介绍-------------->
        <div class="features">
          <div class="features_content">
            <div class="glyphicon">
              <div class="info_blip icon-calendar">
              </div>
              <div class="text">New featured art every day, curated by our editors.</div>
            </div>
            <div class="glyphicon">
              <div class="info_blip icon-image">
              </div>
              <div class="text">Use custom collections to curate your own experience.</div>
            </div>
            <div class="glyphicon">
              <div class="info_blip icon-hd">
              </div>
              <div class="text">All artworks are available in Ultra-HD 4K resolution.</div>
            </div>
          </div>
        </div>
        <div class="upgrade">
          <div class="upgrade_content">
            <h1 class="upgrade_title"><span>ARTPIP</span> PRO</h1>
            <div class="glyphicon">
              <div class="info_blip icon-clock">
              </div>
              <div class="text">Change your background up to every 5 minutes.</div>
            </div>
            <div class="glyphicon">
              <div class="info_blip icon-instagram">
              </div>
              <div class="text">Access our photography collections.</div>
            </div>
            <div class="glyphicon">
              <div class="info_blip icon-heart">
              </div>
              <div class="text">Curate and use your own collection of favourite artworks.</div>
            </div>
            <div class="upgrade_button">
              <a href="/purchase" class="btn_primary">
                Buy Artpip Pro <span class="upgrade_price"> | $9.99</span>
              </a>
            </div>
          </div>
        </div>
        <div class="qqq"></div>
        <!--图片区---------------->
        <div class="featured_artwork">
          <div class="featured_artwork_content">
            <h1 class="featured_title">TODAY'S <span>FEATURED ART</span></h1>
            <div class="artwork_image">
              <img src="/images/FEATURED_ART78.jpg">
              <h4 class="artwork_title">
                Vincent van Gogh - Orchard in Blossom (Plum Trees)
              </h4>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row_content">
            <h3 class="featured_title2">
              PREVIOUSLY <span class="highlight">FEATURED ART</span>
            </h3>
            <div class="grid_container">
              <div class="grid_row">
                <div class="grid_row_item">
                  <div class="artwork_small">
                    <div class="artwork_small_artist_link">
                      <div class="artwork_small_image">
                        <img src="/images/FEATURED_ART2.jpg">
                      </div>
                      <div class="artwork_small_title">Before the Performance</div>
                    </div>
                    <div class="artwork_small_meta">Edgar Degas · 1896</div>
                  </div>
                </div>
                <div class="grid_row_item">
                  <div class="artwork_small">
                    <div class="artwork_small_artist_link">
                      <div class="artwork_small_image">
                        <img src="/images/FEATURED_ART3.jpg" width="320px" height="219px">
                      </div>
                      <div class="artwork_small_title">Orchard in Blossom (Plum Trees)</div>
                    </div>
                    <div class="artwork_small_meta">Vincent van Gogh · 1888</div>
                  </div>
                </div>
                <div class="grid_row_item">
                  <div class="artwork_small">
                    <div class="artwork_small_artist_link">
                      <div class="artwork_small_image">
                        <img src="/images/FEATURED_ART4.jpg" width="320px" height="219px">
                      </div>
                      <div class="artwork_small_title">Fourth Street East From Vine</div>
                    </div>
                    <div class="artwork_small_meta">John Caspar Wild · 1835</div>
                  </div>
                </div>
              </div>
              <div class="grid_row">
                <div class="grid_row_item">
                  <div class="artwork_small">
                    <div class="artwork_small_artist_link">
                      <div class="artwork_small_image">
                        <img src="/images/FEATURED_ART5.jpg" width="320px" height="219px">
                      </div>
                      <div class="artwork_small_title">Near Chiavenna in the Grisons</div>
                    </div>
                    <div class="artwork_small_meta">John Robert Cozens · 1779</div>
                  </div>
                </div>
                <div class="grid_row_item">
                  <div class="artwork_small">
                    <div class="artwork_small_artist_link">
                      <div class="artwork_small_image">
                        <img src="/images/FEATURED_ART6.jpg" width="320px" height="219px">
                      </div>
                      <div class="artwork_small_title">Sunset on Mount Diablo (Marin Sunset)</div>
                    </div>
                    <div class="artwork_small_meta">William Keith · 1877</div>
                  </div>
                </div>
                <div class="grid_row_item">
                  <div class="artwork_small">
                    <div class="artwork_small_artist_link">
                      <div class="artwork_small_image">
                        <img src="/images/FEATURED_ART7.jpg" width="320px" height="219px">
                      </div>
                      <div class="artwork_small_title">Landscape Study</div>
                    </div>
                    <div class="artwork_small_meta">Peter de Wint</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% include index_footer.ejs %>
      </div>
      <a id="box">
        <div class="icon-arrow-up2"></div>
      </a>
      <div class="zcw" id="zcw">
        I need to encourage
        <img src="/images/zcw.jpg" id="wx">
      </div>
    </div>
    <script>
        $(function(){
            <!--调用Luara-->
            $(".example").luara({width:"500",height:"334",interval:4500,selected:"seleted"});
        });
        <!--返回顶部-->
        $("#box").click(function() {
            $("html,body").animate({scrollTop:0}, 500);
        });
        var zcw = document.getElementById("zcw");
        var wx = document.getElementById("wx");
        $(document).ready(function(){
            $("#zcw").mouseover(function(){
                $("#wx").css("display","block");
            });
            $("#zcw").mouseout(function(){
                $("#wx").css("display","none");
            });
        });
    </script>
<% include footer.ejs %>
