<% include header2.ejs %>
<div class="index">
    <div class="container">
        <h1><%= title %></h1>
        <%if(name !='' && name.length>0){%>
        <%=name%>
        <%}%>
    </div>
</div>
<% include footer.ejs %>