<% include header.ejs %>
<!--下载页------------------>
<% include index_header.ejs %>
<div class="purchase">
    <div class="pro">
        <div class="pro-row">
            <h1 class="upgrade_title" style="color: #2c3e50;">
                BUY <span>ARTPIP</span> PRO
            </h1>
            <p class="price">$9.99</p>
            <p class="price2">Artpip Pro lifetime licence</p>
            <a class="btn pro-row-btn">Buy Artpip Pro</a>
            <p class="guarantee">256-Bit SSL Encryption (AES-256)</p>
            <p class="guarantee">30 day 100% money back guarantee</p>
            <div class="payment-types">
                <img src="/images/visa.png" alt="visa">
                <img src="/images/mastercard.png" alt="mastercard">
                <img src="/images/american-express.png" alt="american-express">
                <img src="/images/bitcoin.png" alt="bitcoin" style="width: 45px;" height="45px">
            </div>
            <div class="info-row">
                <div class="info-row-kuai">
                    <div class="info_blip icon-calendar">
                    </div>
                    <div class="text">New featured art every day, curated by our editors.</div>
                </div>
                <div class="info-row-kuai">
                    <div class="info_blip icon-image">
                    </div>
                    <div class="text">Use custom collections to curate your own experience.</div>
                </div>
                <div class="info-row-kuai">
                    <div class="info_blip icon-hd">
                    </div>
                    <div class="text">All artworks are available in Ultra-HD 4K resolution.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include index_footer.ejs %>
<% include footer.ejs %>